:root {
  --blue-instaltech: #0c548c;
  --red-instaltech: #df3d36;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body.menu-active {
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  z-index: 105;
  backdrop-filter: blur(4px);
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}