:root {
  --blue-electric: #0020af;
  --blue-instaltech: #0c548c;
  --electric-line: #3e7cb9;
  --fire-protection-line: #b40000;
  --header-height: 110px;
  --hydraulic-line: #409fb9;
  --large-gap: 2rem;
  --red-instaltech: #be2828;
  --svg-large-size: 4rem;
  --svg-medium-size: 3rem;
  --svg-size: 2.5rem;
  --svg-small-size: 1.5rem;
  --text-color: #282828;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body.menu-active {
  overflow: hidden;
}

.overlay {
  backdrop-filter: blur(4px);
  background-color: #00000080;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.5s ease;
  z-index: 105;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.btn-gradient {
  align-self: center;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #0c548c, #df3d36) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
  color: #000000;
  font-size: 1.1rem;
  margin: 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  width: 80%;
}

.btn-gradient:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px #00000026;
}

p {
  color: var(--text-color);
  font-size: 1.2rem;
}

.card-blue {
  border: 1px solid var(--hydraulic-line);
}

.card-red {
  border: 1px solid var(--fire-protection-line);
}

.brand-name {
  background: linear-gradient(
    to right,
    var(--blue-instaltech) 0%,
    var(--blue-instaltech) 55%,
    var(--red-instaltech) 55%,
    var(--red-instaltech) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.blue-text {
  color: var(--blue-instaltech);
  font-weight: 600;
}

.red-text {
  color: var(--red-instaltech);
  font-weight: 600;
}

.theme-electric {
  background-color: var(--blue-electric);
}

.theme-hydraulic {
  background-color: var(--blue-instaltech);
}

.theme-fire-protection {
  background-color: var(--red-instaltech);
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 116px;
  }

  p {
    padding: 10px 20px;
  }

  .btn-gradient {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 150px;
  }

  .overlay {
    display: none;
  }
}
