:root {
  --blue-instaltech: rgb(12, 84, 140);
  --red-instaltech: rgb(190, 40, 40);
  --blue-eletric: rgb(0, 32, 175);
  --text-color: rgb(40, 40, 40);
  --small-gap: 0.5rem;
  --medium-gap: 1rem;
  --large-gap: 2rem;
  --svg-size: 2.5rem;
  --svg-medium-size: 3rem;
  --svg-large-size: 4rem;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.scroll-section {
  scroll-margin-top: 12vh;
}

body.menu-active {
  overflow: hidden;
}

.overlay {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.5s ease;
  width: 100vw;
  z-index: 105;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

h1 {
  padding: 0 10px;
  font-size: 1.6rem;
  text-align: start;
}

.btn-gradient {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #0c548c, #df3d36) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 15px;
  font-size: 1.1rem;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: #000000;
  width: 80%;
}

p {
  padding: 10px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.blue-text {
  color: var(--blue-instaltech);
  font-weight: 600;
}

.red-text {
  color: var(--red-instaltech);
  font-weight: 600;
}

.electric {
  background-color: var(--blue-eletric);
}

.hydraulic {
  background-color: var(--blue-instaltech);
}

.fire-protection {
  background-color: var(--red-instaltech);
}