.main-header {
  background-color: #ffffff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-header img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

.main-header p {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding-top: 2px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .main-header {
    padding: 20px;
  }

  .main-header p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 20px;
  }

  .main-header img {
    max-width: 250px;
    margin-bottom: 5px;
  }

  .main-header p {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}