.main-header {
  background-color: #ffffff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-header img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

.main-header p {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  padding-top: 2px;
  padding: 0;
}