.contact-showcase {
  flex-direction: column;
  font-size: 1.2rem;
  margin: 10px;
  padding: 10px;
}

.contact-title-svg {
  display: flex;
  flex-direction: column;
}

.contact-showcase-svg {
  height: var(--svg-size);
  margin: 10px auto;
  width: var(--svg-size);
}

.contact-showcase p {
  line-height: 1.3;
  text-align: center;
}

.contact-ways-wrapper h2 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.contact-box {
  align-items: flex-start;
  border-radius: 10px;
  border: 2px solid var(--blue-instaltech);
  display: flex;
  gap: 10px;
  margin: 15px 0;
  padding: 10px;
}

.contact-box-svg {
  flex-shrink: 0;
  height: var(--svg-size);
  margin-top: 5px;
  width: var(--svg-size);
}

.contact-box-content {
  display: flex;
  flex-direction: column;
}

.contact-box-content a {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.contact-box-content a:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 20px #00000026;
}

.contact-box h3 {
  color: var(--blue-instaltech);
  font-size: 1.2rem;
  margin: 0;
}

.contact-email-link {
  color: #000000;
  margin-top: 5px;
}

.contact-whatsapp-link {
  color: #000000;
  margin: 5px 0;
}

.contact-whatsapp-svg {
  height: var(--svg-small-size);
  margin-right: 5px;
  vertical-align: middle;
  width: var(--svg-small-size);
}

@media screen and (min-width: 768px) {
  .contact-box {
    min-width: 50%;
    padding: 10px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .contact-showcase {
    display: flex;
    flex-direction: row;
  }
  .contact-title-svg {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .contact-showcase-svg {
    margin: 0 25px;
    width: var(--svg-large-size);
    height: var(--svg-large-size);
  }

  .contact-title-svg p {
    text-align: left;
    font-size: 1.5rem;
  }

  .contact-ways-wrapper {
    margin-left: 10%;
    width: 60%;
  }

  .contact-showcase-title {
    margin: 0 25px;
    font-size: 2rem;
  }

  .contact-box:nth-of-type(1) .contact-box-svg {
    align-self: center;
    width: var(--svg-medium-size);
    height: var(--svg-medium-size);
  }

  .contact-box:nth-of-type(2) .contact-box-svg {
    align-self: center;
    width: var(--svg-large-size);
    height: var(--svg-large-size);
  }
}

@media screen and (min-width: 1440px) {
  .contact-title-svg p {
    font-size: 1.8rem;
  }

  .contact-showcase-title {
    font-size: 2.2rem;
  }

  .contact-box h4 {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  .contact-box-content a {
    font-size: 1.4rem;
  }
}