.hero {
  display: flex;
  flex-direction: column;
}

.card {
  align-self: center;
  background-color: var(--blue-instaltech);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 75%;
}

.card-img {
  width: 100%;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-content-svg {
  height: 3rem;
  width: 3rem;
}

.card h2 {
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

.card p {
  color: #dddddd;
  padding: 10px;
  text-align: center;
}