.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 1.6rem;
  padding: 0 10px;
  text-align: start;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-text p {
  padding: 10px;
}

.hero-btn {
  margin: 10px auto;
}

.desktop-text {
  display: none;
}

.hero-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.card {
  align-self: center;
  box-shadow: 3px 3px #000000b3;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 75%;
}

.card-img {
  width: 100%;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-content-svg {
  height: var(--svg-medium-size);
  width: var(--svg-medium-size);
}

.card h2 {
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

.title-line {
  position: relative;
}

.title-line::after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
}

.electric-line::after {
  background-color: var(--electric-line);
}

.hydraulic-line::after {
  background-color: var(--hydraulic-line);
}

.fire-protection-line::after {
  background-color: var(--fire-protection-line);
  left: 30%;
}

.card p {
  color: #dddddd;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .fire-protection-line::after {
    left: 38%;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    padding: 0 20px;
  }

  .card {
    margin-bottom: 35px;
    width: 65%;
  }

  .fire-protection-line::after {
    left: 0%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    margin: 25px 0 75px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: stretch;
  }

  h1,
  .hero p {
    margin-left: 20px;
  }

  .hero p {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: justify;
  }

  .hero-btn {
    width: 80%;
  }

  .btn-gradient {
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .desktop-text {
    display: block;
    margin-bottom: 45px;
  }

  .hero-cards {
    padding: 15px 25px 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: stretch;
  }

  .card {
    width: 100%;
    height: 100%;
  }

  .card-img {
    height: 100%;
    margin-bottom: 15px;
    display: block;
  }

  .card-content-svg {
    width: var(--svg-large-size);
    height: var(--svg-large-size);
    margin: 20px 0;
  }

  .card h2 {
    min-height: 70px;
    text-align: center;
  }

  .fire-protection-line::after {
    left: 32%;
  }

  .card p {
    padding: 10px 0;
    font-size: 1.3rem;
    margin: 10px;
    text-align: center;
    min-height: 190px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin: 25px 0 100px;
  }

  h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.7rem;
    margin-bottom: 25px;
  }

  .hero .btn-gradient {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .fire-protection-line::after {
    left: 38%;
  }
}