.history h2 {
  font-size: 1.5rem;
  margin-top: 25px;
  text-align: center;
}

.history-text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 15px 0;
  padding: 10px 25px;
  text-align: left;
  word-spacing: 0.3em;
}

.history-catchphrase {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.history-img {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  display: flex;
  height: auto;
  margin: 15px auto;
  width: 60%;
}

.history-start {
  align-items: flex-start;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--red-instaltech), var(--blue-instaltech))
      border-box;
  border-radius: 16px;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.history-start-img {
  margin-top: 10px;
  max-width: 3rem;
  width: 3rem;
}

.history-start-content {
  padding: 0 10px;
}

.history-start-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.red-text.history-start-year {
  font-size: 1.6rem;
}

.history-elements {
  align-items: start;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--red-instaltech), var(--blue-instaltech))
      border-box;
  border-radius: 16px;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  margin: 25px 10px;
}

.history-elements-svg {
  height: var(--svg-size);
  margin: 15px 0 0 10px;
  width: var(--svg-size);
}

.history-element-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.history-element-content p {
  font-size: 1.1rem;
  line-height: 1.3;
}

.history-element-title {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .history-text {
    padding: 10px 35px;
  }

  .history-catchphrase {
    font-size: 1.2rem;
  }

  .history-img {
    margin: 25px auto;
  }
}

@media screen and (min-width: 1024px) {
  .history h2 {
    font-size: 1.5rem;
    padding-left: 30px;
    text-align: left;
  }

  .history-text {
    justify-content: center;
    gap: 10px;
  }

  .hline1 {
    display: flex;
  }

  .hspace1 {
    width: 55%;
  }

  .history-title,
  .history-text,
  .history-catchphrase {
    font-size: 1rem;
  }

  .hspace2 {
    align-content: center;
    justify-content: center;
    width: 35%;
  }

  .history-img {
    margin: 0 10px;
    width: 90%;
  }

  .history-start {
    width: 100%;
  }

  .history-start-text, .history-elements-content p {
    font-size: 1rem;
  }

  .history-elements {
    width: 90%;
    justify-content: left;
  }

  .helements-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .history h2 {
    font-size: 2rem;
  }

  .history-text {
    font-size: 1.3rem;
  }

  .history-catchphrase {
    font-size: 1.3rem;
  }

  .hspace2 {
    width: 45%;
  }

  .history-start-img {
    max-width: none;
    height: 3.5rem;
    width: 3.5rem;
  }

  .history-start-text {
    font-size: 1.2rem;
  }

  .history-elements {
    margin: 25px 15px;
  }

  .history-elements-svg {
    height: var(--svg-medium-size);
    width: var(--svg-medium-size);
  }

  .history-element-title {
    font-size: 1.4rem;
  }

  .history-element-content p {
    font-size: 1.4rem;
  }
}