.mvv h2 {
  font-size: 1.5rem;
  margin: 25px 0;
  text-align: center;
}

.mvv-elements {
  border-bottom: 1px solid #000;
  display: flex;
  margin: 10px 10px 25px 20px;
  padding: 10px 0px;
}

.mvv-elements-svg {
  height: var(--svg-large-size);
  margin-top: 15px;
  width: var(--svg-large-size);
}

.mvv-element-content {
  border-left: 1px solid #000;
  margin-left: 10px;
  padding-left: 10px;
}

.mvv-element-content p {
  line-height: 1.3;
}

.mvv-element-content span {
  color: var(--blue-instaltech);
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

.mvv h3 {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 40px 0px 15px 0px;
  text-align: center;
}

.mvv-values-element {
  border-bottom: 1px solid #000;
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
  min-height: 160px;
  padding: 0px 10px;
}

.mvv-values-svg {
  display: flex;
  height: var(--svg-medium-size);
  width: var(--svg-medium-size);
}

.mvv-values-element-text {
  border-left: 1px solid #000;
  line-height: 1.3;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-left: 10px;
}

.mvv-values-element-text p {
  padding: 0;
}

.mvv-values-element-text h4 {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .mvv-elements {
    margin: 10px 10px 25px 40px;
  }

  .mvv-values-element {
    min-height: 120px;
    margin: 10px 10px 25px 40px;
  }

  .mvv-values-element-text h4 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .mvv {
    display: flex;
    align-items: center;
  }

  .mvv h2 {
    padding-left: 30px;
    text-align: left;
  }

  .elements-wrapper {
    width: 30%;
  }

  .mvv-element-content p {
    font-size: 1rem;
  }

  .values-wrapper {
    border: 2px solid var(--blue-instaltech);
    border-radius: 20px;
    width: 65%;
    height: fit-content;
    margin: 0 auto;
  }

  .mvv-values-element {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 30px;
  }

  .mvv-values-element:nth-child(2n) {
    border-right: none;
  }

  .mvv-values-element-text {
    border: none;
  }

  .mvv-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
  }
}