.services {
  display: flex;
  flex-direction: column;
}

.services h2 {
  font-size: 1.5rem;
  padding-left: 10px;
}

.services h3 {
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
}

.services-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 0;
  width: 90%;
}

.services-card header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.services-card-svg {
  height: var(--svg-size);
  margin: 0 auto;
  width: var(--svg-size);
}

.services-card h4 {
  font-size: 1.2rem;
  padding: 10px 0;
  text-align: center;
}

.services-subtitle {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0 10px;
  text-align: center;
}

.services-card div,
.services-card header {
  border-bottom: 1px solid #0000009f;
  width: 100%;
}

.services-card ul {
  list-style: none;
  padding: 0 10px;
}

.services-card li::before {
  background-color: var(--blue-instaltech);
  border-radius: 90px;
  color: #ffffff;
  content: "✔";
  margin: 2px;
  padding: 2px 4px;
}

.services-card li {
  display: list-item;
  margin: 5px 0;
  text-align: start;
}

.services-card-img {
  height: auto;
  margin-bottom: -4px;
  width: 100%;
}

.services-characteristics-title {
  font-size: 1.2rem;
  padding-bottom: 0;
  padding: 15px;
  text-align: center;
}

.services-characteristics-title h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.services-characteristics {
  align-items: center;
  border-bottom: 1px solid #0000004d;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}

.services-characteristics:last-child {
  border-bottom: none;
}

.services-characteristics-svg {
  width: var(--svg-medium-size);
  height: var(--svg-medium-size);
}

.services-characteristics-content {
  display: flex;
  flex-direction: column;
}

.services-characteristics-content:last-child {
  margin-bottom: 15px;
}

.services-characteristics-content h4 {
  color: rgb(64, 75, 121);
  font-size: 1.1rem;
  padding: 10px;
}

.services-characteristics p {
  padding-top: 0;
}

.services-contact {
  border-radius: 5px;
  border: 1px solid #0c548c;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
}

.services-title-svg-container {
  align-items: center;
  display: flex;
  gap: 0;
}

.services-title-svg-container img {
  height: var(--svg-size);
  width: var(--svg-size);
}

.services-contact-title {
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0px 5px;
  text-align: center;
  word-wrap: break-word;
}

.services-contact-text {
  padding: 10px 5px;
  text-align: start;
}

.services-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .services {
    margin-bottom: 30px;
  }

  .services h2 {
    padding: 0px 20px;
  }

  .services-card {
    width: 70%;
  }

  .services-card li {
    margin: 10px 0;
  }

  .services-characteristics-title h3 {
    font-size: 1.3rem;
  }

  .services-characteristics-content h4 {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .services-title {
    grid-column: 1;
    grid-row: 1;
  }

  .services-description {
    grid-column: 1;
    grid-row: 2;
  }

  .services-characteristics-title {
    grid-column: 1;
  }

  .services-characteristics-group {
    grid-column: 1;
    grid-row: 3;
  }

  .services-card {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: stretch;
  }

  .services-card header {
    border-bottom: none;
    grid-column: 1;
    justify-content: center;
  }

  .services-card div {
    border-bottom: none;
    grid-column: 2;
  }

  .services-card figure {
    grid-column: 3;
  }

  .services-card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}