.services {
  display: flex;
  flex-direction: column;
}

.services h2 {
  font-size: 1.5rem;
  padding-left: 10px;
}

.services h3 {
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
}

.services-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 0;
  width: 90%;
}

.services-card header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.services-card-svg {
  height: var(--svg-size);
  margin: 0 auto;
  width: var(--svg-size);
}

.services-card h4 {
  font-size: 1.2rem;
  padding: 10px 0;
  text-align: center;
}

.services-subtitle {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0 10px;
  text-align: center;
}

.services-card div,
.services-card header {
  border-bottom: 1px solid #0000009f;
  width: 100%;
}

.services-card ul {
  list-style: none;
  padding: 0 10px;
}

.services-card li::before {
  background-color: var(--blue-instaltech);
  border-radius: 90px;
  color: #ffffff;
  content: "✔";
  margin: 2px;
  padding: 2px 4px;
}

.services-card li {
  display: list-item;
  margin: 5px 0;
  text-align: start;
}

.services-card-img {
  height: auto;
  margin-bottom: -4px;
  width: 100%;
}

.services-characteristics-title {
  padding-bottom: 0;
  padding: 15px;
  text-align: center;
}

.services-characteristics-title h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.services-characteristics {
  align-items: center;
  border-bottom: 1px solid #0000004d;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}

.services-characteristics:last-child {
  border-bottom: none;
}

.services-characteristics-svg {
  width: var(--svg-medium-size);
  height: var(--svg-medium-size);
}

.services-characteristics-content {
  display: flex;
  flex-direction: column;
}

.services-characteristics-content:last-child {
  margin-bottom: 15px;
}

.services-characteristics-content h4 {
  color: rgb(64, 75, 121);
  font-size: 1.1rem;
  padding: 10px;
}

.services-characteristics p {
  padding-top: 0;
}

.services-contact {
  border-radius: 5px;
  border: 1px solid #0c548c;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
}

.services-title-svg-container {
  align-items: center;
  display: flex;
  gap: 0;
}

.services-title-svg-container img {
  height: var(--svg-size);
  width: var(--svg-size);
}

.services-contact-title {
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0px 5px;
  text-align: center;
  word-wrap: break-word;
}

.services-contact-text {
  padding: 10px 5px;
  text-align: start;
}

.services-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .services {
    margin-bottom: 30px;
  }

  .services h2 {
    padding: 0px 20px;
  }

  .services-card {
    width: 70%;
  }

  .services-card li {
    margin: 10px 0;
  }

  .services-characteristics-title h3 {
    font-size: 1.3rem;
  }

  .services-characteristics-content h4 {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "info cards"
      "characteristics cards"
      "contact contact";
    gap: 0rem;
    align-items: start;
    margin-bottom: 40px;
  }

  .services-card div,
  .services-card header {
    border-bottom: none;
    border-right: 1px solid #0000009f;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .services-card {
    width: 90%;
    min-height: 310px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: stretch;
    margin-top: 40px;
  }

  .services-card ul {
    display: flex;
    flex-direction: column;
  }

  .services-info {
    grid-area: info;
  }

  .services-characteristics-group {
    grid-area: characteristics;
  }

  .services-contact {
    grid-area: contact;
    margin-top: 20px;
    width: 70%;
    justify-items: center;
  }

  .services-title-svg-container img {
    height: var(--svg-medium-size);
    width: var(--svg-medium-size);
  }

  .services-card-group {
    grid-area: cards;
  }

  .services-card-img {
    object-fit: cover;
    height: 100%;
  }

  .services h2 {
    font-size: 2rem;
  }

  .services-description {
    font-size: 1.4rem;
  }

  .services-characteristics-content h4 {
    font-size: 1.3rem;
  }

  .services-characteristics-content p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .services h2 {
    font-size: 2.5rem;
  }

  .services-description {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .services-characteristics-title h3 {
    font-size: 1.7rem;
  }

  .services-characteristics-content p {
    font-size: 1.5rem;
  }

  .services h3 {
    font-size: 1.6rem;
  }

  .services-card-svg {
    height: var(--svg-medium-size);
    width: var(--svg-medium-size);
  }

  .services-card h4{
    font-size: 1.8rem;
  }

  .services-subtitle {
    font-size: 1.2rem;
  }

  .services-card li {
    font-size: 1.2rem;
  }

  .services-title-svg-container img {
    height: var(--svg-large-size);
    width: var(--svg-large-size);
  }

  .services-contact-title {
    font-size: 1.5rem;
  }

  .services-contact-text {
    font-size: 1.4rem;
  }

  .services .btn-gradient {
    font-size: 1.5rem;
  }
}